# dependencies
node_modules/

# testing
coverage/

# production
build/

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.test
db

sem-project-s25.json

# Nobody should be committing these files
# They are just merge nightmares rather than actually making people's lives easier
# Especially when targeting x86_64 and aarch64 at the same time
**/pnpm-lock.yaml
**/node_modules
**/package-lock.json
**/yarn.lock
