.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.centeredForm {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }