.mapLayerContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .levitatingList,
  .youBox {
    position: absolute;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px;
    z-index: 10;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .levitatingList {
    width: 180px;
  }
  
  .youBox {
    width: 180px;
    height: 48px;
    display: flex;
    align-items: center;
  }
  
  .hidden {
    transform: translateX(-100px) !important;
    opacity: 0;
    pointer-events: none;
  }
  
  .mapContainer {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .toggleButton {
    position: absolute !important;
    bottom: 60px !important;
    left: 20px !important;
    z-index: 100 !important;
    background-color: white !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }
  